body {
    overflow: auto;
    margin: 0;
    font-size: 12px;
    text-align:center;
    background-color: #424242;
}

#mainDiv {
    position:relative;
}

#svgDiv {
    margin: auto;
}

#headerRight {
    text-align: right;
    position:absolute;
    top:10px;
    right:10px;
    margin-right:10px;
}

.hint {
    right: 0;
    width: 300px;
    font-size: 12px;
    color: #999;
}


div.tooltip {
    position: absolute;			/* reference for measurement */
    text-align: left;
    pointer-events: none;			/* 'none' tells the mouse to ignore the rectangle */
    background: #FFFFEF;
    width: 400px;
    height: 165px;
    padding: 10px;
    border: 1px solid #D5D5D5;
    font-family: arial,helvetica,sans-serif;
    position: absolute;
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255,255,255,0.9);
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border:1px solid rgba(200,200,200,0.85);
    opacity:0;
}

div.tooltipTail {
    position: absolute;
    left:-7px;
    top: 72px;
    width: 7px;
    height: 13px;
    background: url("images/tail_white.png") 50% 0%;
}

div.toolTipBody {
    position:absolute;
    height:100px;
    width:230px;
}

div.header {
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    color:#666;
    text-align:center;
}

div.header-rule{
    height:1px;
    margin:1px auto 3px;
    margin-top:7px;
    margin-bottom:7px;
    background:#ddd;
    width:125px;
}

div.header1{
   /* text-transform: uppercase; */
    text-align: left;
    font-size: 9px;
    margin-bottom: 2px;
    color:#000;
    text-align:center;
}

div.header2{
    color:#000;
    text-transform:uppercase;
    font-size: 10px;
    margin-bottom: 2px;
    text-align:center;
}

div.header3 {
    color:#333;
    text-align: left;
    font-size: 12px;
    font-style: italic;
    font-family: Georgia;
    /*  width:170px;*/
    text-align:center;
}




